---
import Heading from "./Heading.astro";
import Text from "./Text.astro";

const {
  title = "Spørgsmål",
  content = "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
  wave = "",
} = Astro.props;
---

<div
  class="rounded-3xl overflow-hidden shadow-lg bg-[var(--color-cards-bg-primary)]"
>
  <!-- Top Section -->
  <div
    class="px-10 pt-10 pb-6 min-h-[80px] bg-[var(--color-cards-bg-secondary)] relative main-text-secondary md:min-h-[150px]"
  >
    <Heading htmlheading="h4" size="small" font="heading" weight="bold">
      {title}
    </Heading>
  </div>

  <!-- Wave Image -->
  <img src={wave} alt="" class="w-full" />

  <!-- Bottom Section -->
  <div
    class="bg-[var(--color-cards-bg-primary)] text-main-text-primary px-10 pb-0 pt-6 min-h-[100px] md:pb-12 min-h-[300px]"
  >
    <Text teksttype="brødtekst" font="body">
      {content}
    </Text>
  </div>
</div>

<!-- <div class="rounded-3xl overflow-hidden shadow-lg bg-[var(--color-lilac-200)] text-main-text-primary">
  
  <div class="px-8 pt-10 pb-8 bg-[var(--color-lilac-200)] relative">
    <Heading htmlheading="h3" size="large" font="heading" weight="bold">
      {title}
    </Heading>

   
    <img 
      src={wave} 
      alt="" 
      class="w-full absolute left-0 bottom-0 translate-y-[98%] pointer-events-none select-none"
    />
  </div>


  <div class="px-8 py-10 bg-[var(--color-violet-500)] text-white">
    <Text teksttype="brødtekst" font="body">
      {content}
    </Text>
  </div>
</div> -->
